vcl 4.0;

backend default {
  .host = "{{ backend.hostname }}";
  .port = "{{ backend.port if backend.port != None else 80 }}";
  .probe = {
    .url = "{{ backend.path }}";
    .timeout = 30s;
    .interval = 10s;
    .threshold = 3;
  }
}

sub normalize_req_url {

    # Strip out Google Analytics campaign variables. They are only needed
    # by the javascript running on the page
    # utm_source, utm_medium, utm_campaign, gclid, ...
    if(req.url ~ "(\?|&)(gclid|cx|ie|cof|siteurl|zanpid|origin|utm_[a-z]+|mr:[A-z]+)=") {
        set req.url = regsuball(req.url, "(gclid|cx|ie|cof|siteurl|zanpid|origin|utm_[a-z]+|mr:[A-z]+)=[%.-_A-z0-9]+&?", "");
    }
    set req.url = regsub(req.url, "(\?&?)$", "");
}

sub vcl_recv {

  unset req.http.cookie;
  set req.http.grace = 1h;

{% for path in forbidden_paths %}
  if (req.url ~ "{{ path }}") {
    return (synth(403, "Forbidden"));
  }
{% endfor %}

  call normalize_req_url;
}

sub vcl_backend_response {
  set beresp.grace = 1h;
  set beresp.do_stream = true;
  if (beresp.http.content-type ~ "text" || beresp.http.content-type ~ "xml" || beresp.http.content-type ~ "javascript") {
     set beresp.do_gzip = true;
  }
  if (beresp.status == 404) { 
     set beresp.ttl = 10s; 
  }
}
